<h1 class="text-center text-3xl mt-10">Welcome to the Day Planner</h1>
<p class="text-center">Please <a href="/users/register" class="text-blue-600">register</a> or <a href="/users/login" class="text-blue-600">login</a></p>


  